.container {
  margin: 30px auto auto auto;
  background: #e9e9e9;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    background: none;
    width: 100%;
  }

  &_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
}
.card {
  width: 33%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &_figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #0000002e;
    margin-block: 0;
    margin-inline: 0;
    margin: 15px;
    border-radius: 10px;
    transition: transform 250ms ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    @media screen and (max-width: 768px) {
      margin: 15px 0px;
    }

    &_img {
      width: 100%;
      height: 290px;
      object-fit: cover;
      border-radius: 10px;
      @media screen and (max-width: 768px) {
        height: 255px;
      }
    }

    &_figcaption {
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 1;
      width: 100%;
      height: 150px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 13%,
        rgba(0, 212, 255, 0) 70%
      );
      border-radius: 0 0 10px 10px;

      &_title {
        color: white;
        font-size: 18px;
        width: 95%;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
    }
  }
}
