.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 57vh;
  color: #ff6060;
  position: relative;

  &_Number {
    font-size: 263px;
    font-weight: 700;
    width: 597px;
    position: absolute;
    @media screen and (max-width: 768px) {
      font-size: 96px;
      width: 198px;
      height: 99px;
      margin-bottom: 122px;
    }
  }

  &_Text {
    font-size: 36px;
    margin-top: 500px;
    height: 51px;
    position: absolute;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      width: 260px;
      margin-bottom: 360px;
    }
  }

  &_Link {
    font-size: 18px;
    position: absolute;
    margin-top: 700px;
    color: #ff6060;
    text-decoration: underline;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 160px;
      width: 221px;
      height: 20px;
    }
  }
  &_Link:hover {
    filter: brightness(0.95);
  }
}
