.footer {
 width: 100%;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    margin-top: 30px;
   

    
 &_logo {
        margin-top: 66px;
        width: 122px;
        height: 40px;

        
    }
    
 &_text {
        color: white;
        font-weight: 500;
        margin-top: 15px;
        font-size: 24px;

        @media screen and (max-width: 768px) {
           
            font-size: 12px;
            
         }
    }

}
   