.container1 {
  position: relative;
  margin-top: 28px;

  &_images {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    position: relative;
    @media screen and (max-width: 768px) {
      height: 255px;
      width: 100%;
      margin: auto;
    }
  }

  &_buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
    width: 100%;

    &_icon1 {
      color: #fff;
      width: 46px;
      height: 79px;
      overflow: visible;
      cursor: pointer;
      position: relative;
      padding-left: 20px;
      @media screen and (max-width: 768px) {
        height: 20px;
        width: 12px;
      }
    }

    &_icon2 {
      color: #fff;
      width: 46px;
      height: 79px;
      overflow: visible;
      cursor: pointer;
      position: relative;
      padding-right: 20px;
      @media screen and (max-width: 768px) {
        height: 20px;
        width: 12px;
      }
    }
  }
  &_counter {
    position: absolute;
    bottom: 0%;

    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);

    width: 50px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;

    p {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
